@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 100vh;
    background-image:url(./images/danil-aksenov-gWZfmnDoL_E-unsplash.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;
    flex-direction: column;
}
h1{
    color: #e9e7e8;
    font-size: 80px;
    margin: 0 0 50px 0;
    font-family: "Pinyon Script", cursive;

}

aside.boxes{
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
}
p{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 5.92px;
    text-align: center;
    color: #e9e7e8;
}
div.flex{
    background-color:  rgba(69, 69, 96, 0.812);
    color: #e9e7e8;
    width: 148px;
    height: 145px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: -2.4px;
}

.transparent{
    opacity: 0;
}

@media screen and (max-width: 692px) {
    aside.boxes{
        gap: 15px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    div.flex{
        width: 100px;
        height: 96px;
        font-weight: 600;
        font-size: 50px;
    }
    main.flex{
        background-size: 400%;
    }
}

@media screen and (max-width: 1125px) {
    main{
        background-size: 230%;
    }
}
@media screen and (max-width: 820px) {
    main{
        background-size: 250%;
    }
}